{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Text Tag plugin for Craft CMS 3.x
 *
 * SuperText Field Input
 *
 * @author    Brian Hanson
 * @copyright Copyright (c) 2021 Brian Hanson
 * @link      https://brianhanson.net
 * @package   SuperText
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{%- set class = [
  'nicetext',
  'flex-1',
  field.code ? 'code',
  field.uiMode == 'enlarged' ? 'readable',
]|filter %}

{% set config = {
  id: name|id,
  name: 'text',
  value: value.text,
  class: class,
  maxlength: field.charLimit,
  showCharsLeft: true,
  placeholder: field.placeholder ? field.placeholder|t('site'),
  rows: field.initialRows
} %}

{% namespace name %}
  <div class="flex flex-nowrap items-start">
    {% if field.getAvailableTagOptions() | length %}
      {{ forms.select({
        id: 'tag',
        name: 'tag',
        options: field.getAvailableTagOptions(),
        size: null,
        class: 'flex-1',
        value: value.tag
      }) }}
    {% endif %}

    {% if field.multiline %}
      {{ forms.textarea(config) }}
    {% else %}
      {{ forms.text(config) }}
    {% endif %}
  </div>
{% endnamespace %}
