{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Text Tag plugin for Craft CMS 3.x
 *
 * TextTag Field Input
 *
 * @author    Brian Hanson
 * @copyright Copyright (c) 2021 Brian Hanson
 * @link      https://brianhanson.net
 * @package   TextTag
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% namespace name %}
  <div class="flex flex-nowrap">
    {{ forms.select({
      id: 'tag',
      name: 'tag',
      options: field.getAvailableTagOptions(),
      size: null,
      class: 'flex-1',
      value: value.tag
    }) }}

    {{ forms.text({
      id: 'text',
      name: 'text',
      class: 'flex-1',
      value: value.text
    }) }}
  </div>
{% endnamespace %}
